/* Formatação padrão */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Comic Sans MS", Arial, serif;
	background: #D5D5D5;
	margin: auto;
}


/* Estrutura do site */

#cabecalho {
	background: #6D7993;
	width: 95%;
	margin: auto;
	text-align: center;
	height: 50px;
	padding: 0.5%;
}

#area-principal {
	background: white;
	width: 70%;
	padding: 0.5%;
	float: left;
	margin-top: 2%;
	margin-left: 2.5%;
	border-radius: 20px;
	margin-bottom: 2%;
}

#menu-principal {
	font-size: 1.2em;
	padding: 0.5%;
	width: 50%;
	margin-top: 0.3%;
	margin-right: 25%;
	float: right;
	word-spacing: 1%;
}

#menu-lateral {
	background: white;
	width: 10%;
	padding: 0.5%;
	float: right;
	position: fixed;
	top: 20%;
	right: 2.5%;
	text-align: center;
	border-radius: 20px;
}

#form {
	background: #D5D5D5;
	width: 98%;
	margin: auto;
	border-radius: 20px;
	display: block;
	padding: 0.2%;
}

#tabela-livro {
	background: #D5D5D5;
	margin: auto;
	padding: 0.9%;
	width: 90%;
	border-radius: 20px;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 5px 5px;
	text-align: center;
}

th {
	color: #96858F;
	font-size: 1.1em;
}

.linha-tabela:hover {
	background: white;
}

/* links */

a {
	text-decoration: none;
}

a:link {
	color: green;
}

#menu-lateral > a:visited, #menu-lateral > a:link {
	color: #96858F;
}

#menu-lateral > a:hover{
	color: white;
	background: #9099A2;
	border-radius: 10px;
}

.linha-tabela a:visited, .linha-tabela a:link {
	color: #6D7993;
}

#menu-principal > a:visited, #menu-principal > a:link {
	color: white;
}

#menu-principal > a:hover{
	color: #6D7993;
	background: white;
	border-radius: 10px;
}

.legenda-livro > a:visited, .legenda-livro a:link {
	color: #6D7993;
}

input[type=submit]:hover {
	background: #6D7993;
	color: white;
}

/* estilização geral */

#nome-cabecalho {
	font-size: 2.2em;
	color: white;
	font-family: "Brush Script MT", "Brush Script Std", serif;
	display: block;
	float: left;
	padding-left: 0.5%;
	text-shadow: 2px 2px black;
}

.escapamento-menu {
	margin: 3%;
}

#menu-lateral > h3 {
	color: #6D7993;
}

hr {
	border: 2px dotted black;
	margin-top: 2px;
	margin-bottom: 2px;
}

#imagem-home {
	width: 23%;
	border-radius: 20px;
	border: 1px solid black;
}

p {
	font-family: Verdana, serif;
	text-align: justify;
	margin-left: 1%;
	margin-right: 1%;
	display: block;
	padding: 1%;
}

ol {
	font-family: Verdana, serif;
	text-align: justify;
	margin-left: 5%;
}

input {
	width: 95%;
	outline: unset;
	margin-left: 2%;
	padding: 0.5%;
	margin-bottom: 1%;
	font-size: 14px;
	border: 1px solid #6D7993;
	border-radius: 15px;
	font-family: "Comic Sans MS", Arial, serif;
}

textarea {
	width: 95%;
	outline: unset;
	margin-left: 2%;
	border: 1px solid #6D7993;
	border-radius: 15px;
	padding: 0.5%;
	height: 100px;
	margin-bottom: 1%;
	font-size: 14px;
	font-family: "Comic Sans MS", Arial, serif;
}

#area-principal > h2 {
	text-align: center;
	color: #6D7993;
	margin-bottom: 2%;
	font-size: 1.3em;
}

#area-principal > h1 {
	text-align: center;
	color: #6D7993;
	margin-bottom: 2%;
	font-size: 1.5em;
}

.texto-form {
	text-align: left;
	font-size: 1.1em;
	margin-left: 5%;
	margin-bottom: 1%;
	color: #6D7993;
}

input[type=submit] {
	cursor: pointer;
}

.legenda-livro {
	position: relative;
	left: 70%;
	padding: 0.3%;
	margin-top: 1%;
}

.aparece-cel {
	display: none;
}

#area-principal > img {
	width: 30%;
	margin-left: 34.9%;
	border-radius: 20px;
	border: 2px solid black;
}

iframe {
	width: 95%;
	height: 550px;
	margin-left: 2.5%;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 20px;
}

.titulo-projetos {
	text-align: left;
	color: #6D7993;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: 1.3em;
}

.topicos-projetos {
	text-align: left;
	color: #6D7993;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: 1.1em;
}

/* formatação responsiva */

@media (max-width: 900px) {

	* {
		font-size: 1em;
	}
	#nome-cabecalho {
		font-size: 27px;
		text-align: center;
		float: none;
	}

	#menu-principal {
		font-size: 1em;
		width: 100%;
		margin: auto;
		margin-top: 0.5%;
		text-align: center;
		float: none;
		position: static;

	}

	#cabecalho {
		height: 60px;
	}

	.escapamento-menu {
		margin: auto;
	}

	#area-principal {
		width: 90%;
		float: none;
		margin: auto;
		margin-top: 2%;
		border-radius: 10px;
	}

	#menu-lateral {
		float: none;
		position: relative;
		margin: auto;
		left: 1%;
		width: 30%;
		margin-top: 2%;
		border-radius: 10px;
	}

	.legenda-livro {
		left: 60%;
	}

	footer {
		text-shadow: none;
	}
}

@media (max-width: 600px) {

	* {
		font-size: 13px;
	}
	#nome-cabecalho {
		font-size: 24px;
		text-align: center;
		float: none;
	}

	iframe {
		display: none;
	}

	ol {
		margin-top: 2%;
		margin-left: 10%;
		margin-bottom: 2%;
	}
	#menu-principal {
		width: 100%;
		margin: auto;
		margin-top: 0.7%;
		text-align: center;
		float: none;
	}

	.escapamento-menu {
		margin: auto;
	}

	#area-principal {
		width: 92%;
		float: none;
		margin: auto;
		margin-top: 2%;
		border-radius: 10px;
		padding: 1%;
	}

	#menu-lateral {
		float: none;
		position: relative;
		margin: auto;
		width: 70%;
		margin-top: 2%;
		border-radius: 10px;
		margin-bottom: 2%;
	}

	#menu-lateral > h3 {
		font-size: 20px;
	}

	#form {
		width: 99%;
	}

	input, textarea {
		padding: 1%;
	}

	.oculta-data {
		display: none;
	}

	.legenda-livro {
		left: 30%;
	}

	.aparece-cel {
		display: block;
		text-align: center;
		margin-top: 5%;
		border: 1px solid #6D7993;
		border-radius: 10px;
	}

	#area-principal > img {
		width: 40%;
		margin-left: 30%;
	}
}